body {
    background-color: darkgreen;
    background-image: url(/images/felt.png);
}
#table {
    display: grid;
    /* grid-template-columns: 100px 100px 100px 300px 100px 100px 100px; */
    grid-template-columns: 10% 10% 10% 12% 16% 12% 10% 10% 10%;
    grid-template-rows: 80px 130px 130px 130px 80px;
    margin: 0 auto 2rem auto;
    padding-top: 4rem;
    width: 100%;
}
#buttons {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    text-align: center;
    margin: auto;
}
#dealer-cards {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 8;
}
#seat4-cards { /* Player's seat */
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 8;
}
#seat1-cards {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 10;
}
#seat2-cards {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
}
#seat3-cards {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 9;
}
#seat5-cards {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}
#seat6-cards {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
#seat7-cards {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.seat {
    /* border: 2px solid black; */
    display: inline;
    text-align: center;
    color: white;
    font-size: 12pt;
    font-variant: small-caps;
}
.card {
    width: 125px;
}
.other-player .card {
    width: 75px;
}

#seat4-payout { /* Player's bet */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
    font-size: 14pt;
}
#seat4-bet { /* Player's bet */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    font-size: 24pt;
}
#seat1-bet {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 8;
    grid-column-end: 10;
}
#seat2-bet {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 10;
}
#seat3-bet {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 9;
}
#seat5-bet {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}
#seat6-bet {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
#seat7-bet {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.bet {
    border: 2px solid black;
    padding: 2px;
    display: inline;
    text-align: center;
    color: white;
    font-variant: small-caps;
}

#buttons button, #seat4-cards button, #seat4-cards input {
    margin: 5px;
    font-size: 1.25em;
}
button:disabled {
	border-color: #b4b4b4;
	border-width: 6px;
	background-color:#999999;
	font-weight: bold;
	color: rgb(85, 85, 85);
}
