body {
	margin: 0;
	/*background-image: url("/images/wallpaper.png");
	background-size: 50px;
	background-repeat: repeat;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*BEGIN NAV BAR STYLES*/
#navBox {
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgba(0, 0, 0, 0.555);
}

#navColumn1 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 22%;
}
#navColumn2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 36%;
}
#navColumn3 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 22%;
}
	
#nav-logo {
	padding-bottom: 0;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
}

#homeNavImage {
	background-image: url("/images/nav/homeNav.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	border-color: #dbaa40;
	border-width: 10px;
	border-style: double;
	background-size: 90%;
	/* background-color: rgba(255, 255, 255, 0.144); */
	background-color: #dbaa4079;
	transition-property: background-image;
	transition-duration: 1s;
	/* margin-left: auto;
	margin-right: auto;
	display:block; */
} 
#homeNavImage:hover {
	background-image: url("/images/nav/homeNavLit.png");
}

#aboutNavImage {
	background-image: url("/images/nav/aboutNav.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	border-color: #dbaa40;
	border-width: 10px;
	border-style: double;
	background-size: 100%;
	background-color: #dbaa4079;
	transition-property: background-image;
	transition-duration: 1s;
}
#aboutNavImage:hover {
	background-image: url("/images/nav/aboutNavLit.png");
}

#crapsNavImage {
	background-image: url("/images/nav/crapsNav.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	border-color: #dbaa40;
	border-width: 10px;
	border-style: double;
	background-size: 100%;
	background-color: #dbaa4079;
	transition-property: background-image;
	transition-duration: 1s;
}
#crapsNavImage:hover {
	background-image: url("/images/nav/crapsNavLit.png");
}

#blackjackNavImage {
	background-image: url("/images/nav/blackjackNav.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	border-color: #dbaa40;
	border-width: 10px;
	border-style: double;
	background-size: 100%;
	/* background-color: #76000073; */
	background-color: #dbaa4079;
	transition-property: background-image;
	transition-duration: 1s;
}
#blackjackNavImage:hover {
	background-image: url("/images/nav/blackjackNavLit.png");
}

#slotsNavImage {
	background-image: url("/images/nav/slotsNav.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	border-color: #dbaa40;
	border-width: 10px;
	border-style: double;
	background-size: 100%;
	background-color: #dbaa4079;
	transition-property: background-image;
	transition-duration: 1s;
}
#slotsNavImage:hover {
	background-image: url("/images/nav/slotsNavLit.png");
}

.navArrows {
	width: 100%;
}

.navArtContainer {
	margin: 0;
	padding: 10px;
	width: 10%;
}
.navArt {
	height: 100%;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}
	
#site-nav hr, #site-footer hr, hr.title-line {
	border-top: #dbaa40 solid 15px;
	/* border-bottom: #8f6c20 solid 10px; */
	margin: 0;
	padding: 0;
	border-style: double;
}
/* END NAV BAR STYLES*/



/* BEGIN PAGE TITLE STYLES */
#titleBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0;
}
.titleStyle {
	max-width: 25vw;
	/* float: left; */
	/* height: 95%; */
	max-height: 150px;
}
#titleImage { 
	/* width: 50%; */
	max-height: 150px;
	max-width: 45vw;
	/* margin-left: auto; 
	margin-right: auto; */
}
/* END PAGE TITLE STYLES */



/* BEGIN ACCOUNT ASIDE STYLES */
#account-container {
	position: sticky;
	top: 0;
	height: 0;
	width: 100%;
	z-index: 1;
}

#account.logged-in {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
}
#game-instructions {
	padding: 10px;
}
#user-info {
	background-color: rgba(0, 0, 0, 0.555);
	color:#dbaa40;
	padding: 10px;
	margin: 10px;
	border: solid #dbaa40 5px;
}
#account-username-container {
	padding: 5px;
}
#account-chips-container {
	padding: 5px;
}
/* #chip-changes {
	max-height: 1em;
	overflow: hidden;
} */
.change {
	color: white;
	animation-duration: 3000ms;
	animation-fill-mode: forwards;
	animation-name: fadingAway;
}
@keyframes fadingAway {
	0%{
		opacity: 1;
		transform: rotateX(90deg);
	}
	50%{
		opacity: 0.5;
		transform: rotateX(0deg);
	}
	100%{
		display: none;
		opacity: 0;
		transform: rotateX(90deg);
	}
}

#account.logged-out {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	background-color:  rgba(0, 0, 0, 0.575);
	background-image: url("../images/Dealer.png");
	background-size: 350px;
	background-repeat: no-repeat;
	background-position: right bottom;
	align-items: center;
	color: #ffffcc;
}
.signup-login {
	display: inline-block;
	border-style: solid;
	border-image: url("../images/borderSquare.png") 30% stretch;
	border-width:100px;
	background-color: rgba(0, 0, 0, 0.575);
	text-align: center;
	margin: 5% 25%;
}
#account input {
	margin: 2px;
}

#account.welcome {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	background-color:  rgba(0, 0, 0, 0.575);
	background-image: url("../images/DealerWink.gif");
	background-size: 350px;
	background-repeat: no-repeat;
	background-position: right bottom;
	align-items: center;
	color: #ffffcc;
}
.welcome-message {
	display: inline-block;
	border-style: solid;
	border-image: url("../images/borderSquare.png") 30% stretch;
	border-width:100px;
	background-color: rgba(0, 0, 0, 0.575);
	font-size: xx-large;
	text-align: center;
	margin: 5% 25%;
}
.welcome-message a:link, .welcome-message a:visited {
	color: silver;
}
.welcome-message a:hover, .welcome-message a:active {
	color: #dbaa40;
}
.welcome-message button {
	font-size: xx-large;
}
/* END ACCOUNT ASIDE STYLES */



/* BEGIN HOME PAGE AND VIDEO STYLES */
main {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* .home-phrase{
	text-align: center;
	color: #dbaa40;
}
h1.home-phrase{
	font-size: 72pt;
	font-variant: small-caps;
	padding: 10px 0 0 0;
	margin: 0;
}
h2.home-phrase{
	font-size: 36pt;
	font-variant: small-caps;
	padding: 0;
	margin: 0;
}
h3.home-phrase{
	font-size: 24pt;
	padding-bottom: 50px;
	margin-bottom: 0;
} */

.video-container {
	/* background-image: url("/images/wallpaper.png");
	background-size: 50px;
	background-repeat: repeat; */
	position: relative;
	left: 0;
	right: 0;
	overflow: hidden;
	text-align: center;
	/* background-color: lightblue; */
	margin-bottom: 40px;
	max-width: 2000px;
	/*480 - header & footer*/
}
.video {
	clip-path: inset(105px 185px 50px 100px);
	height: 100% !important;
	width: auto !important;
	max-width: 100% !important;
	margin-right: -130px;
    margin-top: -90px;
    margin-left: -50px;
	margin-bottom: -40px;
}
#video-substitute {
	display: none;
}
@media only screen and (max-width: 1000px) {
	.video {
		clip-path: inset(50px 145px 30px 80px);
	}
	h1.home-phrase{
		font-size: 72pt;
		padding: 10px 0 0 0;
		margin: 0;
		}
		h2.home-phrase{
		font-size: 24pt;
		padding: 0;
		margin-top: -25px;
		}
}
@media only screen and (max-width: 800px) {
	.video {
		clip-path: inset(1px 110px 10px 60px);
	}
	h1.home-phrase{
		font-size: 36pt;
		padding: 10px 0 0 0;
		margin: 0;
		}
		h2.home-phrase{
		font-size: 16pt;
		padding: 0;
		margin-top: -25px;
		}
}
@media only screen and (max-width: 480px) {
	.video-container {
		display: none;
	}
	#video-substitute {
		display: block;
	}
	h1.home-phrase{
		font-size: 18pt;
	}
	h2.home-phrase{
		font-size: 12pt;
	}
	h3.home-phrase{
		font-size: 12pt;
	}
}
/* END HOME PAGE AND VIDEO STYLES */



button{
	border-color: #dbaa40;
	border-width: 6px;
	background-color:#dbaa40;
	font-weight: bold;
	color: rgb(63, 63, 63);
}



/* BEGIN FOOTER STYLES */
#site-footer {
	text-align: center;
	margin-top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#copyright-statement {
	/* color: #dbaa40; */
	color: #99772e;
	font-size: 11pt;
}
#litty {
	width: 32px;
	position: relative;
	top: 3px;
}
/* END FOOTER STYLES */