
/* #bodybox{
  display: inline-flexbox;
} */
/* #titleBox{
  display: flex;
}
#titleStyle1{
  padding-top: 2.5%;
  width: 25%;
  float: left;
  height: 95%;
}
#titleStyle2{
  padding-top: 2.5%;
 width:25%;
  float:right;
  height: 95%;
}
#SlotsTitle{ 
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
  display:block;
} */

#HowToPlayBtn{
  margin-left: 5%;
  margin-top: 2%;
}
#HowToPlayBtn{
  border-color:#dbaa40;
  border-width: 6px;
  border-style: double;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#HowToPlayBtn:hover{
background-color:#dbaa40;
color:black;
border-color: black;
}
/* #HowToPlayBtn{
  text-decoration: none;
  color: black;
  background-color: #dbaa40;
  font-family: sans-serif;
  font-size: 40px;
  border:3px solid #ffffff;
  padding: 40px 80px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
#HowToPlayBtn:hover{
  background-color: #bb8a1f;
}
#HowToPlayBtn:before{
  background-color:#ffffff;
  top:0;
left:0;
width: 100%;
height: 50px;
position: absolute;
transform: translateX(-100%) rotate(45deg);
transition: all 0.3s;
}
#HowToPlayBtn:hover:before{
  transform: translateX(100%) rotate(45deg);
} */


body {
  margin: 0;
  user-select: none;
  background-image: url("/images/wallpaper.png");
  background-size: 100px;
  height: 100%;
}
#slotMachine{
  display:flex;
  align-items: center;
  justify-items: center;
  justify-content: center; 
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center; 
  height: 1100px;
  background: url("./images/slotMachineTrial.png") no-repeat center;
  background-size: 800px;
  padding-top: 25px;
}
.money-container {
  position: relative;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  
  /* color: lighten(#edfaf9 10%); */
}
/* .changes {
  position: absolute;
  display: inline-flex;
  top: 1rem;
  font-weight: bold;
}
.change {
  color: white;
  padding-left: 0.5rem;
  animation-duration: 1s;
  animation-name: slideinLeft;
  animation-fill-mode: forwards;
} */

.changes {
  position: absolute;
  display: inline-flex;
  /* top: 1rem;  */
  font-weight: bold;
}

.change {
  color: white; 
  padding-left: 0.5rem; 
  animation-duration: 3000ms;
  animation-name: slideinLeft;
  animation-fill-mode: forwards;
  animation-name: fadingAway;
  
}
@keyframes fadingAway{
0%{
  opacity: 1;
  transform: rotateX(90deg);
}
50%{
  opacity: 0.5;
  transform: rotateX(0deg);
}
100%{
  display:none;
  opacity: 0;
  transform: rotateX(90deg);
}
}

#money {
  font-size: 2rem;
  display: inline;
  font-weight: bold;
  border: solid #dbaa40 5px;
  background-color: black; 
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
 #userChips{ /*container */
  position: sticky;
  display: inline-block;
  top: 0px;
  font-size: 20px;
  /* text-align: left; */
  border-width: 6px;
  border-style: double;
  border-color: #dbaa40;
  background-color: rgba(0, 0, 0, 0.295);
  width: 12%;
  font-weight: bold;
  color:white;
  margin-left:85%;
  padding-left:10px;

}



.play-area {
  position: relative;
  display: flex;
  background-size: 56.57px 56.57px;
  min-height: 12.5rem; 
  /* min-height: 15rem; box size */
  min-width: 15rem; 
  border: solid #dbaa40 15px;
  background-color: white;
  margin-top: 39px;
}
.reel-container {
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column ;
  padding-top: 10px;
  height: 12.6rem; 
  overflow: hidden;
  align-items: center;
  width: 8rem; /*4rem  witdth of each reel*/
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #044600;
}
.reel-item {
  max-height: 100px;
  /* font-size: 3rem; */
  animation-duration: 0.1s;
  animation-name: slidein;
  padding-top: 10px;
  
}
.info {
  padding-top: 0;
  padding-bottom:0;
  
}
 
  .allInstructions {
    color: lighten(#edfaf9 10%);
    margin-bottom: 1rem;
    width: 400px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    padding-bottom: 20px;
    margin-left: 15px;
    color:white;
    position: absolute;
  } 
.instructions {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 5px;
  
}

*, *::after, *::before{
  box-sizing: border-box;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms eas-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:500px;
  max-width:80%;
}
.modal.active{
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header .modal-title{
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body{
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms eas-in-out;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color:black;
  pointer-events: none; /*allows you to click buttons under overlay when not active*/
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
#dealerImage{
  width: 100px;
}
#navBox{
  width:100%;
}
hr {
	border-top: #dbaa40 solid 15px;
	/* border-bottom: #8f6c20 solid 10px; */
	margin: 0;
	padding: 0;
	border-style: double;
}